<div class="container">
  <div class="content">
    <h1 class="site-title">Entre em
      contato conosco </h1>
      <br>
    <h6>Quer perguntar, sugerir, elogiar, reclamar ou buscar uma futura parceria? Abaixo está nossas infomações! </h6>

    <br>
    <div>
      <div class="form-group">
        <label for="name">Nome *</label>
        <p>Lucas Inácio</p>
      </div>

      <div class="form-group">
        <label for="email">Endereço de E-mail *</label>
        <p>lucasworkti@gmail.com</p>
      </div>

      <div class="form-group">
        <label for="phone">Telefone *</label>
        <p>+55 (92) 98221-3124</p>
      </div>
    </div>
  </div>
</div>
