<footer class="footer">
  <div class="container" style="font-size: 12px;">
    <h4>IMPORTANTE: </h4>
    <p style="text-align: left;"> Vale ressaltar que somos uma plataforma independente, o que nos permite oferecer
      conteúdo imparcial e sem influência externa. No entanto, é importante destacar que não fornecemos aconselhamento
      financeiro. As negociações de criptomoedas e investimentos em geral envolvem riscos substanciais, e é
      responsabilidade total do usuário realizar suas próprias pesquisas e tomar decisões informadas.
    </p>
  </div>
  <br>
  <div class="footer-links">
    <ul>
      <li><a href="#" routerLinkActive="active-link" routerLink="/">Início</a></li>
      <li><a href="#" routerLinkActive="active-link" routerLink="sobre">Sobre nós</a></li>
      <li><a href="#" routerLinkActive="active-link" routerLink="contato">Contato</a></li>
      <li><a href="#" routerLinkActive="active-link" routerLink="privacidade">Política de Privacidade</a></li>
      <li><a href="#" routerLinkActive="active-link" routerLink="pratrocinio">Patrocínios</a></li>
    </ul>
  </div>
</footer>

