<div class="container">
  <div class="content">
    <h1>Seja um Patrocinador</h1>
    <p>
      Nossa plataforma depende do apoio de patrocinadores para continuar fornecendo conteúdo e serviços gratuitos de
      alta qualidade. Atualmente, não temos nenhum patrocinador oficial, mas estamos abertos a parcerias e oportunidades
      de patrocínio.
    </p>
    <p>
      Se você está interessado em nos patrocinar ou conhece alguma empresa que possa se beneficiar de uma parceria
      conosco, ficaríamos muito felizes em ouvir de você. Estamos buscando ativamente filiação com o Google AdSense e
      outros programas de patrocínio. Sua contribuição ajudará a sustentar e aprimorar nossos serviços para a
      comunidade.
    </p>
  </div>
</div>
