<div class="container">
  <div class="content">
    <h1>Política de Privacidade</h1>
    <br>
    <p>
      Bem-vindo à nossa página de Política de Privacidade. Nesta seção, descrevemos como coletamos, usamos e protegemos
      as informações pessoais dos nossos usuários.
    </p>

    <h3>Uso das Informações</h3>

    <p>
      Utilizamos as informações pessoais fornecidas pelos usuários para melhorar a experiência no site, personalizar o
      conteúdo e fornecer suporte adequado. Também podemos utilizar as informações para fins de análise e pesquisa
      interna, visando melhorar nossos serviços.
    </p>

    <h3>Proteção das Informações</h3>

    <p>
      Levamos a segurança das informações pessoais dos nossos usuários a sério. Implementamos medidas de segurança
      adequadas para proteger os dados contra acesso não autorizado, alteração, divulgação ou destruição.
    </p>

    <h3>Compartilhamento de Informações</h3>

    <p>
      Não compartilhamos informações pessoais identificáveis com terceiros, a menos que seja necessário para cumprir com
      requisitos legais ou com o consentimento do usuário.
    </p>

    <h3>Cookies e Tecnologias de Rastreamento</h3>

    <p>
      Não utilizamos cookies e outras tecnologias que coletam dados do usuário
    </p>

    <h3>Alterações na Política de Privacidade</h3>

    <p>
      Reservamos o direito de atualizar ou modificar esta Política de Privacidade a qualquer momento. Recomendamos que
      você revise esta página periodicamente para se manter informado sobre eventuais alterações. Agradecemos por confiar em nós quanto à sua privacidade. Se você tiver alguma dúvida ou preocupação relacionada à
      nossa Política de Privacidade, entre em contato conosco.
    </p>
  </div>
</div>

