<div class="container">
  <div class="content">
    <h1 class="site-title">Sobre nós</h1>

    <p>
      Bem-vindo à nossa página de ferramentas! Somos um site dedicado a fornecer uma variedade de recursos relacionados
      a criptomoedas, conversões, câmbio de moedas e simulação de cálculos.
    </p>

    <p>
      Nosso objetivo é fornecer informações e ferramentas úteis para ajudar nossos usuários com as funcionalidades das
      criptomoedas e realizar conversões e cálculos precisos.
    </p>

    <p>
      Estamos constantemente atualizando nosso site e adicionando novas funcionalidades para garantir que nossos
      usuários tenham acesso às últimas informações e tecnologias.
    </p>

    <p>
      Vale ressaltar que somos uma plataforma independente, o que nos permite oferecer conteúdo imparcial e sem
      influência externa. No entanto, para manter nossos serviços gratuitos e de alta qualidade, buscamos patrocínio,
      como o Google AdSense e outros parceiros.
    </p>

    <p>
      Agradecemos por visitar nossa página e esperamos que você aproveite as ferramentas e recursos que oferecemos. Se
      você tiver alguma dúvida, sugestão ou feedback, não hesite em entrar em contato conosco. Estamos aqui para ajudar!
    </p>
  </div>
</div>
